/*Body*/
body {
background-color: rgb(32, 34, 41);
color: blueviolet;
font-family: arial, helvetica, sans-serif;
}

/*Header*/
.navbar {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    margin-block-start: 5px;
    margin-block-end: 5px;
    background-color: blueviolet;
    height: 50px;
    padding-top: 20px;
}
.navbar > a{
    color: white;
    text-decoration-line: none;
    font-family: arial;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

/*Paragraph default*/
p {
    color: white;
}

/*Homepage*/
.title {
    text-align: center;
    color: blueviolet;
}
#title-img {
    display: flex;
    justify-content: center;
    padding-top: 40px;

}
#title-img > img {
    width: 20%;
}

/*About Us*/
#about-title-color {
    color:rgb(248, 153, 36)
}
#about-desc {
    display: flex;
    justify-content: center;
}

/*Footer*/
#footer-msg {
    color: blueviolet;
    text-align: center;

}
#footer-msg > a {
    color:rgb(0, 140, 255)
}

.links {
    list-style-type: lower-alpha;
    padding-top: 150px;
    padding-bottom: 20px;
    padding-right: 40px;
    color: blueviolet;
    display: flex;
    justify-content: center;
}
.links > a {
    margin-left: 7px;
    margin-right: 7px;
}