body {
background-color: rgb(32, 34, 41);
color: blueviolet;
font-family: arial, helvetica, sans-serif;
}

#welcome-msg {
    text-align: center;
    color: blueviolet;
}

#title-img {
    display: flex;
    justify-content: center;
    padding-top: 40px;

}
#title-img > img {
    width: 20%;
}

#footer-msg {
    text-align: center;

}
#footer-msg > a {
    color:rgb(0, 140, 255)
}

#links {
    list-style-type: lower-alpha;
    padding-top: 150px;
    padding-bottom: 20px;
    padding-right: 40px;
    color: blueviolet;
    display: flex;
    justify-content: center;
}
#links > a {
    margin-left: 7px;
    margin-right: 7px;
}
